body {
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1300px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 0px;
  background-color: black;
  color: seashell;
  font-family: Helvetica;
}

/* Header */

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 28px;
}

header {
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  border-bottom: 1px solid seashell;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

/* Main Content Container */

.Our-Mission {
  display: flex;
  flex-direction: column;
  width: 12000px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  margin-top: 69px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Teaofthemonth , .images {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 22px;
  fontnt-weight: bold;
}

.menuimage {
  display: block;
  height: 200px;
  width: 300px;
  margin: 10px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


/* Footer */

footer {
  display: flex;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
